.speech{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;

}
.song{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;

}
.direction:hover{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: red;
    background-color: beige;
}
.name{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
}
.MAIDENS{
    color:darkgoldenrod;
}
.SAPHIR{
    color:antiquewhite;
}
.ANGELA{
    color: aqua;
}
.PATIENCE{
    color: aquamarine;
}
.ELLA{
    color:darkcyan;
}
.DRAGOONS{
    color: beige;
}
.JANE{
    color: bisque;
}
#Chorus{
    text-indent: 20%;
    font-style: italic;

}
#girls{
font-style: oblique;
color: palevioletred;

}
.speech
{
 text-align: left;
 text-decoration-color: darkslategray;
}
.song{
    text-indent: 20%;

    text-decoration-color: lavender;
}
table{
    border-collapse: collapse;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 1px;

}
th,td{
    border: 1px solid black;
}
th{color: crimson;}
tr:nth-child(odd){background-color: lightblue;}/*row stripes */
tr:hover{color:olivedrab;}