.speech{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;

}
.song{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;

}
.direction:hover{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: red;
    background-color: beige;
}
.name:hover{
    font: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
    text-shadow: 5px 3px 3px red;
    border-style: dotted;
    text-align: center;
    border-color: chartreuse;
    
}
.MAIDENS{
    color:darkgoldenrod;
}
.SAPHIR{
    color:antiquewhite;
}
.ANGELA{
    color: aqua;
}
.PATIENCE{
    color: aquamarine;
}
.ELLA{
    color:darkcyan;
}
.DRAGOONS{
    color: beige;
}
.JANE{
    color: bisque;
}
.DUKE{
    color: darkcyan;
}
.COLONEL{
    color: blueviolet;
}
#Chorus{
    text-indent: 20%;
    font-style: italic;

}
#girls{
font-style: oblique;
color: palevioletred;

}
.speech
{
 text-align: left;
 text-decoration-color: darkslategray;
}
.song{
    text-indent: 20%;

    text-decoration-color: lavender;
}
table{
    border-collapse: collapse;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 1px;

}
th,td{
    border: 1px solid black;
}
th{color: crimson;}
tr:nth-child(odd){background-color: lightblue;}/*row stripes */
tr:hover{color:olivedrab;}
ul {
    list-style-type: none;
    margin: 50px;
    padding: 0 ;
    overflow: hidden;
    
  }
  li a:hover{
    color: lightyellow;
    background-color: chocolate;
    padding: 2%;
    font-weight: bold;
  }

li a {
    font-size: large;
    float: left;
    display:block;
    padding: 10px;
    background-color: lightyellow;
  }